body {
	background-color: lightblue;
	color: black;
}

p {
	color: black;
	
}

.textfield {
	width: 500px;
}

.table_even {
	background-color: #BDD8F6;
	color: #000000
}

.table_odd {
	background-color: #BDD8F6;
	color: #606060
}