*.log
*.pyc
.*.swp
*~

raw_output/ibs_person_raw.json
output/attribute_keys_cleaned.txt
output/infobox_output_cleaned.json
debug/attribute_changes.txt
big_files/*

output/infobox_output_cleaned_150518.json
